.idCardContainer{
  display: flex;
  border: 1px solid black;
  margin-bottom: 10px;
}

.picture{
  height:150px;
  width:150px;
}

p{
  padding: 5px 0px;
  margin:0;
}

.RandomContainer{
  border: 1px solid black;
  margin-bottom: 5px;


}